@import '../helpers/index';

html{
	width: 100vw !important;
}

html,
body {
	overflow-x: hidden;
}

.modal {
	@include tablet{
		width: 95%;
	}
}

.container{
	max-width: 1300px;
	margin: 0 auto;
}

.btn-join{
	width: 200px;
    font-family: "Sunflower";
    font-weight: lighter;
    margin-top: 20px;
    background: #FF2400 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	color:$white;
}

.btn-join-green{
	width: 200px;
    font-family: "Sunflower";
    font-weight: lighter;
    margin-top: 20px;
    background: $green 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	color:$black;
}

.btn-rules-green{
	width: 200px;
    font-family: "Sunflower";
    font-weight: lighter;
    margin-top: 20px;
    background: transparent;
    border: 1px solid $green;
	border-radius: 4px;
	opacity: 1;
	color:$green;
}

.btn-rules-purple{
	width: 200px;
    font-family: "Sunflower";
    font-weight: lighter;
    margin-top: 20px;
    background: transparent;
    border: 1px solid $red;
	border-radius: 4px;
	opacity: 1;
	color:$red;
}

.hashtag{
	font-family:"Sunflower";
	font-weight: bold;	
	font-size: 25px;
	text-align: center;
	color:$white;
	@media (max-width:375px) {
		font-size: 20px;
	}	
}

.share{
	position: fixed;
	text-align: center;
	bottom: 5%;
	right: 2%;
	z-index: 100;
	@include tablet {
		display: block;
		bottom: 15%;
		#share-event {
			display: none;
		}
	}

	.share-btn{
		font-family: "Sunflower";
		font-weight: Bold;
		color: $white;
		font-size: 20px;
		
		.btn-pop-up{
			margin-left: 10px;
			width: 50px;
		    height: 50px;
		    padding: 8px 13px 0px;
		    border-radius: 35px;
		    font-size: 24px;
		    line-height: 1.33;
	    	&:hover{
	    		&+.popuptext {
	    			visibility: visible;
	    		}
	    	}
		}

		img{
			position: relative;
			top: -3px;
		}
	}

	.popup {
	  position: relative;
	  display: inline-block;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	/* The actual popup */
	.popup .popuptext {
	  visibility: visible;
	  color: #fff;
	  border-radius: 6px;
	  position: absolute;
	  z-index: 1;
	  bottom: 125%;
	  right:0;
	  width: 100%;
	  .btn-pos{
	  	position: relative;
		left: 5%;
		.btn{
			padding: 0.375rem 0 !important;
		}
	  }

	  @include tablet{
	  	position: relative;
	  	img {
	  		width: 20;
	  		height: 20;
	  	}
	  }
	}

	/* Toggle this class - hide and show the popup */
	.popup .show {
	  visibility: visible;
	  -webkit-animation: fadeIn 1s;
	  animation: fadeIn 1s;
	}

	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	  from {opacity: 0;} 
	  to {opacity: 1;}
	}

	@keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity:1 ;}
	}
}

.h-100vh{
	height: 100vh;
}

.h-85 {
    height: 85% !important;
}

.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#snk {
	font-size: 25px;
}

.close {
	text-shadow: 0 0px 0;
	opacity: 0.8;
}

.nomor-1{
	padding-left: 15px;
}

.isi-nomor-1{
	padding-left: 15px;
}