#about_us {
	&.about_us {
		background-color:$black;
		width: 100%;
		height: 100vh;
		position: relative;

		&::before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			left: -20%;
			background:url('../images/MaskGroup5new.png') left/65% no-repeat;
			opacity: 0.5;
			@include tablet{
				background:url('../images/MaskGroup5new.png') left bottom/100% no-repeat;
				opacity: 0.5;
				left: -25%;
				bottom: 10%;
			}
		}


		&::after{
			content: "";
			position: absolute;
			width: 50%;
			height: 100%;
			right: -15%;
			background:url('../images/Image6new.png') 80% no-repeat;
			opacity: 0.5;
			@include tablet{
				display: none;
			}
		}

		.about__content {

		    text-align: center;
		    position: absolute;
		    width: 100%;
		    top: 50%;
		    left: 0;
		    transform: translateY(-50%);
		    margin: auto;
		    @include tablet{
				text-align: right;
			}
			&-title {
				@include tablet {
					margin-right: 40px;
				}
				p {
					font-family: "Sunflower";
					font-weight: Bold;	
					font-size: 64px;
					text-align: center;

					@include tablet {
						font-size: 30px;
						text-align: right;
					}	
				}

			}
			.whatis{
				color:$white;
			}

			.clan{
				text-align: center;
				color:$green;
			    @include tablet{
					text-align: right;
				}
			}

			.desc_about{
				width: 667px;
				font-family:'PT Sans', Reguler;
				font-weight: light;	
				font-size: 18px;
				text-align: center;
				color:$white;
				border-bottom: 1px solid $black3;
				padding-bottom:60px;
				margin: 46px auto 58px;
				@include tablet{
					font-size: 14px;
					text-align: right;
					width: 70%;
					position: relative;
					right: -20px;
					border-bottom: 0;
				}	

				.green{
					font-family:'PT Sans', Reguler;
					font-weight: Bold;
					color:$green2;
				}


			}
		}

		.community_game{
			font-family: "Sunflower";
			font-weight: lighter;	
			font-size: 20px;
			text-align: center;
			color:$white;
		}
	}
}