#ads {
	&.ads {
		background: url('../images/Image8.png') center/cover no-repeat;
		width: 100%;
		height: 582px;
		display: flex;
		@include tablet{
			height:300px;
		}

		.video-wording {
			width: 50%;
			height: 100%;
			@include tablet{
				width: 100%;
			}
			
		}

		.wording {
			width: 50%;
			height: 100%;
			position: relative;
			text-align: center;
			@include tablet{
				display: none;
			}
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top:0;
				left: 0;
				opacity: 0.4;
				background: $black;

			}

			.word-desc{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 30px;
				color:$white;
				width: 70%;
				position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);

			    a {
			    	text-decoration: none;
			    	color:$green;
			    }
			}	
		}
	}
}

#news {
	&.news {
		background-color:$black;
		width: 100%;
		min-height: 100vh;
		padding-top: 100px;
		padding-bottom: 100px;

		.news-community{
			margin-left: 10%;
			text-align: left;
			@include tablet{
				margin-left: 6%;
			}

			.title-news-category{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 30px;
				color:$red;
				margin-bottom: 50px;

			}
		}
	}

	.hybrid-news{

		margin-bottom: 53px;

		.img-news{
			width: 291px;
			height: 203px;
		}

		a {
			margin-left: 50px;
			text-decoration: none;
			@include tablet{
				margin-left: 0px;
			}
		}

		.from-news{
			font-family: "Sunflower";
			font-weight: Bold;	
			font-size: 20px;
			color:$green;
		}

		.title-news{
			margin-top: 10px;
			margin-bottom: 40px;
			font-family: "Sunflower";
			font-weight: Bold;	
			font-size: 30px;
			color:$white;
			width: 800px;
			height: 100px;
			@include tablet{
				width: 350px;
				font-size: 20px;
				margin-bottom: 0px;
			}
		}

		.date-news{
			font-family: "Sunflower";
			font-weight: lighter;	
			font-size: 20px;
			color:$white;
		}
	}
}

