#contact {
	&.contact {
		position: relative;
		overflow-x: hidden;
		width: 100%;
		height: 100vh;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100vh;
			background: url("../images/building-city-destruction-devastation-459195.png") left 95%/165% no-repeat;	
			@include tablet{
				box-sizing: unset;
				background: url(../images/building-city-destruction-devastation-459195.png) left 100%/165% no-repeat;
			}
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100vh;
			background: rgba(0,0,0,0.8);
			@include tablet{
				box-sizing: unset;
				background: rgba(0, 0, 0, 1);
			}

		}
		.bg-dots {
			position: absolute;
			z-index: 9;
			background: url('../images/background-dotgreen.png') center/cover no-repeat;
			width: 100%;
			height: 100vh;
			left: 25%;
		}

		.figure {
			position: absolute;
			z-index: 10;
		    width: 100%;
		    height: 100vh;
		    background: url('../images/contactperson.png') center bottom/85% no-repeat;
		    right: -45%;
		    @include tablet{
		    	background: url(../images/contactperson.png) center bottom/121% no-repeat;
    			right: -30%;
		    }
		}
	}

	.contact__content{
		text-align: left;
		position: absolute;
    	width: 100%;
    	height: 100%;
    	z-index: 20;
    	.contact-explain {
		    width: 70%;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    margin: auto;
    	}
    	.explain-1{
    		font-family: 'PT Sans', Reguler;
    		font-size: 20px;
    		font-weight: lighter;
    		color: $white;
    		@include tablet{
    			font-size: 14px;
    		}
    	}

    	.title-exp{
    		margin-top: 50px;
    		font-family: 'Sunflower';
    		font-size: 30px;
    		font-weight: Bold;
    		color: $red;
    	}

    	.how-to{
    		margin-top: 10px;
    		font-family: 'PT Sans', Reguler;
    		font-size: 20px;
    		font-weight: lighter;
    		color: $white;
    		@include tablet{
    			margin-top: 0px;
    		}

    		a {
				text-decoration: none;
				color:$red;
    		}

    		@include tablet{
    			font-size: 14px;
    		}
    	}

    	.qualifier{
    		margin-top: 50px;
    		font-family: 'Sunflower';
    		font-size: 30px;
    		font-weight: Bold;
    		color: $red;
    	}

    	.how-to-follow{
    		font-family: 'PT Sans', Reguler;
    		font-size: 20px;
    		font-weight: lighter;
    		color: $white;
    		@include tablet{
    			font-size: 14px;
    		}
    	}

    	.btn-purple-position{
    		margin-top: 50px;

    	}

    	.qualifier-soon {
			a {
				text-decoration: none;
				color: $purple;
    			text-decoration: none;
				font-family: 'Sunflower';
				font-weight: lighter;
				font-size: 20px;
			}
		}

		.logo-shark{
			margin-top: 40px;
	    	text-align: right;
			img {
				width: 200px;
				height: 118px;
			}
			@include tablet{
				display: none;
			}
		}

		.qualifier{
			margin-top:50px;
			@include tablet {
				margin-top: 40px;
			}
		}
	}
}

.modal-rules-qualifier{
	background: #08080a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #08080a 0%, #101115 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #08080a 0%,#101115 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #08080a 0%,#101115 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08080a', endColorstr='#101115',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-color: $purple;
	font-family:'Sunflower';
	font-weight: lighter;

	.qualifier-rules-title{
		color: $purple;
	}

	.body-rules-qualifier{
		color: $white;
	}

	.close-qualifier{
		color: $purple;

	}

	.close-btn{
		background: transparent;
		border: 1px solid;
		border-color:$purple;
		color:$purple;
	}
}