#event {
	&.event {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#08080a+0,101115+100 */
		background: #08080a; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #08080a 0%, #101115 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  #08080a 0%,#101115 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  #08080a 0%,#101115 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08080a', endColorstr='#101115',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		width: 100%;
		min-height: 100vh;
		padding-bottom: 200px;

		.event__content {
			margin-top: 150px;
			text-align: center;
			@include tablet{
				margin-top: 100px;
			}
			.title_event{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 30px;
				text-align: center;
				color:$white;
				@include tablet{
					text-align: center;
					padding-left: 12px;
				}
			}

			.casual{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 30px;
				text-align: center;
				color:$red;
				@include tablet{
					text-align: center;
					padding-left: 12px;
					margin-bottom:30px;
				}
			}

			.desc_meetup{
				font-family:'PT Sans', Reguler;
				font-weight: light;	
				font-size: 18px;
				text-align: center;
				color:$white;
				@include tablet{
					text-align: center;
					font-size: 14px;
					width: 100%;
				}
			}
		}

		.tournament__content {
			margin-top: 150px;
			text-align: center;
			margin-bottom: 100px;
			.title_tournament{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 30px;
				text-align: center;
				color:$white;

			}

			.community_tournament{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 30px;
				text-align: center;
				color:$green;
			}

			.desc_tournament{
				font-family:'PT Sans', Reguler;
				font-weight: light;	
				font-size: 18px;
				text-align: center;
				color:$white;
				@include tablet{
					font-size: 14px;
				}
			}
		}

		.rules{
			text-align: center;

			.cod{
				margin-top: 15px;
			}

			.ml{
				margin-bottom: 20px;
			}

			.mobile-legend{
				margin-top:35px;
			}
		}
	}
}

.modal-rules{
	background: #08080a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #08080a 0%, #101115 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #08080a 0%,#101115 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #08080a 0%,#101115 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08080a', endColorstr='#101115',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-color: $green;
	font-family:'Sunflower';
	font-weight: lighter;

	.rules-title{
		color: $green;
	}

	.body-rules{
		color: $white;
	}

	.close{
		color: $green;

	}
}