#home {
	&.home {
		// background: url('../images/MaskGroup29.png') center/cover no-repeat;
		background: url('../images/newbanner.png') center/cover no-repeat;
		width: 100%;
		min-height: 100vh;
		margin-bottom: -10px;
		@include tablet {
	    	background-position: right;
	    	position: relative;
	    }
		
		.home__content {
			margin-top: 150px;
			text-align: center;
			@include tablet{
				margin-top: -185px;
			}
			.team{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 64px;
				text-align: center;
				color:$white;
			    @include tablet {
			    	font-size: 33px;
			    }
			    @media (max-height:700px) {
					font-size: 40px;
				}
				@media (min-width:375px) {
					font-size: 30px;
				}
				@media (max-width:360px) {
					font-size: 23px;
				}
				@media (max-width:320px) {
					font-size: 20px;
				}

			}

			.reward{
				font-family: "Sunflower";
				font-weight: Bold;	
				font-size: 64px;
				text-align: center;
				color:$red;
				@include tablet {
			    	font-size: 33px;
			    }
			    @media (max-height:700px) {
					font-size: 40px;
				}
				@media (min-width:375px) {
					font-size: 30px;
				}
				@media (max-width:360px) {
					font-size: 23px;
				}
				@media (max-width:320px) {
					font-size: 20px;
				}
			}

			.month{
				font-family: "Sunflower";
				font-weight: light;	
				font-size: 37px;
				text-align: center;
				color:$white;
				@include tablet {
			    	font-size: 21px;
			    }
			    @media (max-height:700px) {
					font-size: 25px;
				}
				@media (max-width:320px) {
					font-size: 20px;
				}
			}

			.desc_home{
				font-family:'PT Sans', Reguler;
				font-weight: light;	
				font-size: 18px;
				text-align: center;
				color:$white;
				@include tablet {
			    	font-size: 14px;
			    }
			    @media (max-width:320px) {
					font-size: 12px;
				}
			}

		}

		.logo-footer-home{
			
			position: absolute;
		    bottom: 5%;
		    left: 2%;
		    // width: 100%;
		    @include tablet {
		    	text-align:center;
		    	bottom: 20%;
		    	left: 0;
		    }

			.support{
				font-family: "Sunflower";
				font-weight: lighter;
				font-size: 20px;
				color:$white;
			}

			
		}
	}

}

