#tnc {
	background-color: #272A33;
	padding: 30px;
	&.iframe-braket{
		margin-bottom: -20px;
	}
}

#live {
	background-color: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 120px;
	padding-left: 120px;
	width: 100%;
	height: 728px;
	margin-bottom: -2px;
	@include tablet{
		height:360px;
		padding-right: 0px;
		padding-left: 0px;
		margin-bottom: -2px;
	}
	&.iframe-live{
		
	}
}