#footer {
	&.footer {
		background-color:$black3;
		width: 100%;
		height: 400px;
		text-align: center;

		.follow-us{
			color: $white;
			font-family: "Sunflower";
			font-weight: Light;
			font-size: 20px;
			padding-top:40px;
			margin-bottom: 10px;	
		}

		.copyright{
			color: $white;
			font-family: 'PT Sans', Reguler;
			font-weight: lighter;
			font-size: 18px;
			padding-top:30px;
		}


	}
}