.header {
	width: 100%;
	position: fixed;
    z-index: 99;
    @include tablet {
    	display: none;
    }

	.menu-header{
		color: white;
		font-family: "Sunflower";
		font-weight: Light;	
		letter-spacing: 0;
		color: #FFFFFF;
		opacity: 1;
		width: 100%;
		padding: 20px 0;
		background: transparent;
		transition: background-color 0.5s ease;

		ul {
			text-align: center;
			margin: 0 auto;
			li {

				list-style: none;
			    display: inline-block;
			    margin: 0 15px;
			    &.logo {
					margin: 0 76px;						
			    }
				a {
					font-size: 18px;
					text-decoration: none;
					color: $white;
				}
			}
		}
	}
}

.logo-mobile{
	display: none;

	@include tablet {
		padding: 20px;
    	display: block;
    	img{
			width: 80px;
			height: 80px;
		}
    }
}