@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #64b744, 0 0 40px #64b744, 0 0 50px #64b744, 0 0 60px #64b744, 0 0 70px #64b744;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #64b744, 0 0 40px #64b744, 0 0 50px #64b744, 0 0 60px #64b744, 0 0 70px #64b744, 0 0 80px #64b744;
  }
}

@mixin mq($breakpoints) {
	@if ($breakpoints) {
	  @media only screen and (max-width: $breakpoints) { @content; }
	} @else {
	  @media only screen and (max-width: $s-small) {
	    @content;
	  }
	}
}

@mixin large {
	@media only screen and (max-width: 1440px) {
	  @content;
	}
}

@mixin medium {
	@media only screen and (max-width: 1200px) {
	  @content;
	}
}


@mixin tablet {
	@media only screen and (max-width: 1024px) {
	  @content;
	}
}

@mixin smartphone {
	@media only screen and (max-width: 768px) {
	  @content;
	}
}

@mixin phone {
	@media only screen and (max-width: 320px) {
	  @content;
	}
}