
@font-face {
  font-family: 'Sunflower';
  src: url('../fonts/Sunflower-Medium.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Sunflower-Medium.woff') format('woff'), 
  		url('../fonts/Sunflower-Medium.ttf')  format('truetype'), 
  		url('../fonts/Sunflower-Medium.svg#Sunflower-Medium') format('svg'),
  		url('../fonts/Sunflower-Light.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Sunflower-Light.woff') format('woff'), 
  		url('../fonts/Sunflower-Light.ttf')  format('truetype'), 
  		url('../fonts/Sunflower-Light.svg#Sunflower-Light') format('svg'),
  		url('../fonts/Sunflower-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Sunflower-Bold.woff') format('woff'), 
  		url('../fonts/Sunflower-Bold.ttf')  format('truetype'), 
  		url('../fonts/Sunflower-Bold.svg#Sunflower-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');